<ion-view view-title="Basic Form">
  <ion-content>
    <div class="col col-center text-center"><h2>Introduction Form</h2></div>
    <form name="form" ng-submit="submit(loginData)">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Firstname</span>
          <input type="text" name="fname" ng-model="loginData.username" require>
        </label>
        <label class="item item-input">
          <span class="input-label">LastName</span>
          <input type="text" name="lname" ng-model="loginData.lastname" required>
        </label>
        <ion-checkbox ng-model="loginData.checked">Enable Submit Button</ion-checkbox>

        <label class="item">
          <button ng-disabled="!loginData.checked" class="button button-block button-positive" type="submit">Submit</button>
        </label>

      </div>
    </form>
    <div class="card">
      <div class="item item-text-wrap">
        <strong> {{ firstname | capitalize}} {{ lastname | capitalize}} </strong>
      </div>
    </div>
  </ion-content>
</ion-view>
